/*botões "calcular" e "limpar"*/
section .container .botoes {
    margin-top: 40px;  
    justify-content: center; 
    margin-right: 80px;
}

/*titulo "folha de pagamento*/
section .container .title.is-4 {
    font-size: 1.4rem;
}


/* CHECKBOX -------------------------------------*/

    /*para esconder input */
    section .container .column.is-12 .checkDisplayDependente {
        display: none;
    } 
    section .container .column.is-12 .checkDisplayPensao {
        display: none;
    } 

    /* formatação para o checkbox*/
    .flexboxCheck  {
        background-color: rgb(235, 227, 227);
        padding: 20px 20px;
        border-radius: 20px;
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
    }

    /*alinhamento da checkbox*/
    .flexboxCheck .checkbox1,
    .flexboxCheck .checkbox2 {
        padding-right: 60px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    /*para conseguir por o label*/
    .check {
        display: inline-block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 16px;
    }
    
    /* Esconder o checkbox padrão */
    .check input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    
    /* Criar o checkbox customizado */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: rgb(247, 242, 242);
        border-radius: 2px;
    }
    
    /* Adicionar uma cor de fundo cinza ao passar o mouse */
    .check:hover input ~ .checkmark {
        background-color: #ccc;
    }
    
    /* Quando o checkbox é clicado, adicionar um fundo verde */
    .check input:checked ~ .checkmark {
        background-color: #00D1B2;
    }
    
    /* Criar o ícone de check, escondido quando não estiver selecionado */
    .check .checkmark:after {
        content: "";
        position: absolute;
        display: none;
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    
    /* Exibir o ícone quando selecionado */
    .check input:checked ~ .checkmark:after {
        display: block;
    }

    /* resete css para input */
    textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 
/*----------------------------------------------------------------------------------------*/

.column.is-12 .field#nomeField .ValidacaoNomeIcon {
    display: none;
}
.column.is-12 .field#SalBrutoField .ValidacaoSalBrutoIcon {
    display: none; 

}

/* RESPONSIVO -------------------*/

@media(max-width: 465px) and (max-width:555px) {
    .column.is-12 .flexboxCheck {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .flexboxCheck .checkbox1, .flexboxCheck .checkbox2 {
        padding-right: 0;
    }

    section .container .botoes {
        margin-right: 0;
    }

}




